{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">Skills</h1>
  <div class="row text-white">
    <div class="col-sm-5">
      <h3 class="mt-5">HTML/CSS</h3>
      <div class="progress">
        <div
          class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-min="0"
          aria-valuemax="100"
        >
          100%
        </div>
      </div>
      <h3 class="mt-5">Java Programming</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 92%"
          aria-valuenow="92"
          aria-min="0"
          aria-valuemax="100"
        >
          92%
        </div>
      </div>
      <h3 class="mt-5">SQL</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 87%"
          aria-valuenow="87"
          aria-min="0"
          aria-valuemax="100"
        >
          87%
        </div>
      </div>
      <h3 class="mt-5">php</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="95"
          aria-min="0"
          aria-valuemax="100"
        >
          95%
        </div>
      </div>
    </div>
    <div class="col-sm-5 offset-2">
      <h3 class="mt-5">JavaScript</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="95"
          aria-min="0"
          aria-valuemax="100"
        >
          95%
        </div>
      </div>
      <h3 class="mt-5">Python/Django</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 99%"
          aria-valuenow="99"
          aria-min="0"
          aria-valuemax="100"
        >
          99%
        </div>
      </div>
      <h3 class="mt-5">.net</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 66%"
          aria-valuenow="66"
          aria-min="0"
          aria-valuemax="100"
        >
          66%
        </div>
      </div>
      <h3 class="mt-5">c/c++</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 88%"
          aria-valuenow="88"
          aria-min="0"
          aria-valuemax="100"
        >
          88%
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
